.parent {
    display: flex;
    justify-content: center;
}

.map_window {
    border-radius: 8px;
}

.button {
    background-color: #0A2896;
    color: white;
    border-radius: 8px;
    margin-top: 10px;
    padding: 5px;
    height: 40px;
    min-width: 100px;
    width: fit-content;
    border-color: white;
}

.dropDown {
    position: relative;
    min-width: fit-content;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border-color: #0A2896;
    background-color: white;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}

.vehicle {
    border-radius: 8px;
    border-color: #0A2896;
}

/*input[type='text'] {*/
/*    !*width: 336px;*!*/
/*    !*height: 40px;*!*/
/*    border: none;*/
/*    background-color: whitesmoke;*/
/*    border-radius: 8px;*/
/*    margin: 10px;*/
/*    margin-top: 25px;*/
/*}*/