<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Подключение Leaflet.js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Подключение плагина для работы с маршрутами -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>

</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />


<div id="map" style="width: 1024px; height: 768px;"></div>

<script type="text/javascript">
    var map = L.map('map').setView([55.781863, 49.124884], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    var point1 = L.marker([55.781863, 49.124884]).addTo(map);
    var point2 = L.marker([55.795343, 49.106515]).addTo(map);

    L.Routing.control({
        waypoints: [
            L.latLng(55.781863, 49.124884),
            L.latLng(55.795343, 49.106515)
        ],
        routeWhileDragging: true
    }).addTo(map);
</script>


</body>
</html>