<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{style.css}" type="text/css"/>
    <!-- Подключение Leaflet.js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Подключение плагина для работы с маршрутами -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/leaflet-routing-machine/dist/leaflet-routing-machine.css"/>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">

</head>
<body style="background-color: #ffffff; color: #2f3441;">


<!-- <div class="container p-4">

    <p th:text="'Hello, ' + ${name} + '!'"/>


    <div th:replace="~{fragments/findPlace :: findPlace}">findPlace</div>

    <div th:replace="~{fragments/createPath :: createPath}">createPath</div>
</div> -->
<div class="parent">
    <div id="map" class="map_window" style="width: 1024px; height: 768px;"></div>
</div>
<div class="container p-4" ></div>
<div th:replace="~{fragments/findPlace :: findPlace}">findPlace</div>
<div th:replace="~{fragments/createPath :: createPath}">createPath</div>
<!--<div class="parent">-->
<!--    <div id="test_button1" class="button">test_button1</div>-->
<!--</div>-->
<script type="text/javascript">
    var map = L.map('map').setView([55.781863, 49.124884], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);
    let r = null
    map.on('click', onMapClick);
    let point1 = L.marker([55.781863, 49.124884]);
    map.addLayer(point1);
    let point2 = L.marker([55.795343, 49.106515]).addTo(map);
    function onMapClick(e) {
        if (r != null) {
            map.removeControl(r);
            r = null;
        }
        map.removeLayer(point1)
        point1 = L.marker(e.latlng)
        map.addLayer(point1)
        r = L.Routing.control({
            waypoints: [
                point2.getLatLng(),
                point1.getLatLng()
            ],
            routeWhileDragging: true
        })
        r.addTo(map)

    }
    // L.Routing.control({
    //     waypoints: [
    //         L.latLng(55.781863, 49.124884),
    //         L.latLng(55.795343, 49.106515),
    //         point1.getLatLng()
    //     ],
    //     routeWhileDragging: true
    // }).addTo(map);

</script>
</div>






</body>
</html>