<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{style.css}" type="text/css"/>
    <!-- Подключение Leaflet.js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Подключение плагина для работы с маршрутами -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/leaflet-routing-machine/dist/leaflet-routing-machine.css"/>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">

</head>
<header>
    <div style="height: 50px; background-attachment: fixed; background-color: #002882
    ;
     margin: -10px; margin-top: -18px;"><img src="VTB_white_logo.png" style="position: absolute; margin: 8px; margin-bottom: 150px; width: 100px; height: 57px"></div>
<body style="background-color: #ffffff; color: #2f3441;">



<p id="endlat" value="123" th:attr="value=${endLat}"/>
<p id="endlon" value="123" th:attr="value=${endLon}"/>
<!-- <div class="container p-4">

    <p th:text="'Hello, ' + ${name} + '!'"/>


    <div th:replace="~{fragments/findPlace :: findPlace}">findPlace</div>

    <div th:replace="~{fragments/createPath :: createPath}">createPath</div>
</div> -->
<div id="info" style="margin-left: 50px; visibility: hidden; position:absolute">
    <label>Рабочие дни: пн. вт. ср. чт. пт.</label>
    <br>
    <label>Время работы: 8:00-18:00</label>
    <br>
    <label>Телефон: 12-345-67-89</label>
</div>
<div class="parent" style="margin-top: 20px">
    <div id="map" class="map_window" style="width: 1024px; height: 768px;"></div>
</div>
<div class="parent">
    <label>Кликните на карту, чтобы построить маршрут</label>
</div>
<div class="parent">
    <button id="recommended" class="button">Рекомендуемое отделение</button>

    <select id="user_type" class="dropDown" style="margin-left: 10px;">
        <option value="physical">Юридическое лицо</option>
        <option value="company">Физическое лицо</option>
    </select>
    <select id="service" class="dropDown" style="margin-left: 10px;">
        <option id="empty" value="empty">Выберите услугу</option>
        <option id="credit" value="credit">кредит</option>
        <option id="ATM" value="ATM">банкомат</option>
        <option id="leasing" value="ATM">лизинг</option>
        <option id="eq" value="ATM">эквайринг</option>
    </select>
    <button id="walking" class="button" style="width: 40px; margin-left: 10px">
        <img id="vehicle" class="vehicle" src="icon-walk.png" placeholder="https://www.flaticon.com/ru/free-icons/- Аллея славы иконки от icon_small - Flaticon"
        style="height: 30px; width: 30px"
        >
    </button>
    <button id="userPosButton" class="button">Сбросить</button>
</div>
<div class="parent">
</div>
<!--<div class="container p-4" ></div>-->
<!--<div th:replace="~{fragments/findPlace :: findPlace}">findPlace</div>-->
<!--<div th:replace="~{fragments/createPath :: createPath}">createPath</div>-->
<!--<div class="parent">-->
<!--    <div id="test_button1" class="button">test_button1</div>-->
<!--</div>-->
<script type="text/javascript" th:inline="javascript">

    let banks = new Map()
    let walkingBtn = document.getElementById('walking')
    let iconUser = L.icon({
        iconUrl: "user.png",
        iconSize:     [30, 30],
        iconAnchor:   [22, 22],
    })
    let iconBank = L.icon({
        iconUrl: "VTB_logo_ru.png",
        iconSize:     [60, 34],
    })
    const options = {
        enableHighAccuracy: true,
        maximumAge: 30000,
        timeout: 27000,
    }
    let map = L.map('map').setView([0,0], 13);
    let point1 =  L.marker([55.781863, 49.124884], {icon: iconUser});
    let hasVehicle = false
    banks.set(1, L.marker([55.792387, 49.185576], {icon: iconBank}))
    banks.set(2, L.marker([55.802387, 49.185576], {icon: iconBank}))

    walkingBtn.addEventListener('click', () => {
        let img = document.getElementById('vehicle')
        if (img.getAttribute('src') === 'icon-walk.png') {
            img.setAttribute('src', 'car.png')
            hasVehicle = true
        } else {
            img.setAttribute('src', 'icon-walk.png')
            hasVehicle = false
        }

    })

    getCurrentPosition = () => navigator.geolocation.getCurrentPosition((position) => {
        // point1 = L.marker([position.coords.latitude, position.coords.longitude], {icon: iconUser});
        // map.setView(point1.getLatLng(), 13)
        // map.addLayer(point1);
        // point1.addTo(map);
        point1 = L.marker([55.755864, 37.617698], {icon: iconUser})
        map.setView(point1.getLatLng(), 13)
        map.addLayer(point1);
        point1.addTo(map);
    }, () => {}, options)
    getCurrentPosition()

    function drawBanks(){
        for (let [key, value] of banks) {
            value.addTo(map)
            console.log(value.latlng)
        }
    }
    drawBanks()
    // point1.on('click', onMapClick)
    let point2 = L.marker([55.802387, 49.185576], {icon: iconBank});
    point2 = L.marker([document.getElementById('endlat').getAttribute('th:text'),
        document.getElementById('endlon').getAttribute('th:text')], {icon: iconBank})
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);
    let r = null
    map.on('click', onMapClick);
    let myPos = document.getElementById('userPosButton')
    let info = document.getElementById("info")
    myPos.addEventListener('click', () => {
        map.removeLayer(point1)
        map.removeControl(r)
        getCurrentPosition()
        info.style.visibility = "hidden"
    })
    function onMarkerClick(e) {
        if (r != null) {
            map.removeControl(r);
            r = null;
        }
        point2 = L.marker(e.latlng,{icon: iconBank})
        r = L.Routing.control({
            waypoints: [
                e.latlng,
                point1.getLatLng()
            ],
            routeWhileDragging: true
        })
        r.addTo(map)
        info.style.visibility = "visible"
    }
    point2.on('click', onMarkerClick)
    let chooseOnMap = false
    function onMapClick(e) {
        if (chooseOnMap) {

        } else {
            if (r != null) {
                map.removeControl(r);
                r = null;
            }
            map.addLayer(point1)
            r = L.Routing.control({
                waypoints: [
                    e.latlng,
                    point1.getLatLng()
                ],
                routeWhileDragging: true
            })
            r.addTo(map)
            info.style.visibility = "visible"
        }
    }
    // L.Routing.control({
    //     waypoints: [
    //         L.latLng(55.781863, 49.124884),
    //         L.latLng(55.795343, 49.106515),
    //         point1.getLatLng()
    //     ],
    //     routeWhileDragging: true
    // }).addTo(map);

    let xhr = new XMLHttpRequest();
    let rec = document.getElementById('recommended')
    let userType = document.getElementById('user_type')
    let service = document.getElementById('service')
    let latitude =  document.getElementById('endlat')
    let longitude =  document.getElementById('endlon')
    response = ()=> {
        let data = JSON.stringify({
            "latlng": point1.getLatLng(),
            "service": service.value,
            "user_type": userType.value,
            "vehicle": hasVehicle ? "Yes" : "NO"
        });
        console.log(data)
        xhr.open("POST", "http://localhost:8080?data=" + encodeURIComponent(data))
        xhr.onreadystatechange = function() {
            if (xhr.readyState == XMLHttpRequest.DONE) {
                console.log(latitude, longitude)
                L.marker([ latitude, longitude]).addTo(map)
            }
        }
        xhr.setRequestHeader("Content-Type", "application/json");
        console.log(point1.getLatLng())
        // L.marker([document.getElementById('endlat').getAttribute('th:text'),
        //     document.getElementById('endlon').getAttribute('th:text')], {icon: iconBank}).addTo(map)
        xhr.send(data);
    }
    rec.addEventListener("onload", response)

    rec.addEventListener('click', response)

</script>
</div>






</body>
</html>