<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Быстрый старт. Размещение интерактивной карты на странице</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <script src="https://api-maps.yandex.ru/2.1/?apikey={yandex.api.key}&lang=ru_RU" type="text/javascript">

    </script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init(){
            var myMap = new ymaps.Map("map", {
                center: [55.796127, 49.106414],
                zoom: 7
            });
        }

    </script>
</head>

<body>
<div id="map" style="width: 1024px; height: 768px"></div>
</body>

</html>
